:root {
    --primary-bg-color:white;
    --primary-topbar-color: blue;
    --primary-text-color: black;
    --sec-topbar-color: black;
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --primary-bg-color: black;
    --primary-text-color: white;
    --primary-topbar-color: red;
    --sec-topbar-color: #333333;
  }
}
body {
    background-color: var(--primary-bg-color);
    transition: background-color 2s;
}
h1, p, h2, h3, h4, h5, h6 {
    color: var(--primary-text-color);
    display: absolute;
    transition: color 2s;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--sec-topbar-color);
  display: flex;
  transition: background-color 2s;
}

ul.nav li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
ul.nav li.active a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
ul.nav li:hover a {
  font-weight: bold;
}
ul.nav li {
  transition: padding 1s;
}
ul.nav li.active {
  background-color: var(--primary-topbar-color);
  transition: background-color 2s, padding 1s;
}
ul.nav:hover li {
  padding: 10px 0px;
}
